*{
    margin:0px; 
}
.button{
    margin: 0 0 10px 15px;
    width:130px;
    background-color: rgb(73,43,3);
    color:white;
    border-radius: 10px;
    padding: 5px 0;
    font-weight: bold;
    cursor: pointer;
}
input{
    width: 300px;
    padding:5px;
    margin: 15px 0 15px 10px;
    background-color: #faefde;
}
div{
    padding:10px;

}
#messages {
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
#hudContainer,#formContainer{
    background-color: bisque;
}
#healthContainer,#gameContainer{
    background-color: rgb(253,240,220);
}